body{
    margin: 0;
    padding: 0;
}
#header{

    top: 0;
    margin: 0;
	height: 10%;
    width: 100%;
	background-color: #aaa;
}

#header img{
	height: 100%;
	float: left;
}

.container{

}

#text-input{
	float: left;
	width: 75%;
	height: 90%;
}

#text-input textarea{
	width: 100%;
	height: 100%;
	resize: none;
}

div#sidebar{
	height: 90%;
}

div #file-input{
	float: left;
	width: 25%;
	height: 75%;
	background: #ededed;
}

div #options {
	float: left;
	width: 25%;
	height: 20%;
	background: #897d63;
}

#file-help-text {

}

div#file-input{
	text-align: center;
}

#files{
	list-style: none;
	margin-left: 0;
	padding-left:0;
}

.file{
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #e04543;
}

.file:hover{
	background-color: #ea7b79;
}

.file-control{
	margin-left: 5px;
}

.pull-right{
	float: right;
}