body{
    margin: 0;
    padding: 0;
}
#header{

    top: 0;
    margin: 0;
	height: 10%;
    width: 100%;
	background-color: #aaa;
}

#header img{
	height: 100%;
	float: left;
}

.container{

}

#text-input{
	float: left;
	width: 75%;
	height: 90%;
}

#text-input textarea{
	width: 100%;
	height: 100%;
	resize: none;
}

div#sidebar{
	height: 90%;
}

div #file-input{
	float: left;
	width: 25%;
	height: 75%;
	background: #ededed;
}

div #options {
	float: left;
	width: 25%;
	height: 20%;
	background: #897d63;
}

#file-help-text {

}